<div class="row">
  <div class="col-sm-6 offset-sm-4">
<h2>みんなの投稿</h2>

<% if user_signed_in? %> 
 <div class="row">
   <div class="col-sm-8">
     <%= render 'posts/myposts' , posts: @posts %>
   </div>
 </div>
<% end %>

</div>
</div>

