<div class="row">
  <div class="col-sm-6 offset-sm-3">
    
    <h1>投稿を編集する</h1>
    <%= render 'form', post: @post %>
   
    <%= link_to :back do %>
      <button>戻る</button>
    <% end %>
  </div>
</div>