<div class="post"><h2>SHOW</h2></div>
<div class="row">
  <aside class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <div class="text-center">
        <% if @post.image? %> 
          <p>
            <%= image_tag @post.image.url %>
          </p>
        <% end %>
        </div>
      </div>
    </div>
  <div class="row">
    <div class="col-1">
      <%= link_to :back do %>
        <i class="fas fa-backward fa-lg back"></i>
      <% end %>
    </div>
    <div class="col-1">
      <%= link_to root_path  do %>
        <i class="fas fa-home fa-lg root"></i>
      <% end %>
    </div>
  </div>
</div>




  

  

