<h1>写真詳細</h1>

<div class="row">
  <aside class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <div class="text-center">
        <% if @post.image? %>  <!-- アップロード画像がある場合に実行する -->
          <p>
            <%= image_tag @post.image.url %><!-- userインスタンスの画像ファイルのURLを取得し表示 -->
          </p>
        <% end %>
        </div>
      </div>
    </div>
  
  <%= link_to :back do %>
    <button>戻る</button>
  <% end %>
</div>




  

  

