/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 
html {
  min-height: 100%;
  position: relative;
}

.post h2{
  font-size: 40px;
}
 
.navbar a{
  font-family: 'Poiret One', cursive;
  background: white;
  color: #3366FF;
  font-size: 20px;
  margin: 0px;
  padding: 10px;
}
 
.footer{
  font-family: 'Dancing Script', cursive;
  height: 5em;
  padding: 15px;
  width: 100%;
  background-color: #f8f8f8;
  border-color: #e7e7e7;
  border-width: 1px 0px 0px;
}

.navbar{
  background-color: #33FFFF;
}

.navbar-toggler{
  border-color: #000066;
  background-color: #000066;
}

.navbar-toggler-icon {
  // 三本線の変更
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='white' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

body{
  margin-top: 40px;
  margin-bottom: 5em;
  background-color:  #fcfcfc;
}

.aside{
  margin-bottom: 10px;
}

.login{
   font-family: 'Poiret One', cursive;
}

.signin{
   font-family: 'Poiret One', cursive;
}

.edit{
   font-family: 'Poiret One', cursive;
}

.notice{
  margin-top: 30px;
}

.alert{
  margin-top: 30px;
}

.heart-red {
  color: #FF0033;	
  
}

.heart-green{
  color: #2F4F4F;
}

.user-edit{
  color: #2F4F4F;
}

.delete-btn{
  color: #2F4F4F;
}

.edit-btn{
  color: #2F4F4F;
}

.back{
  color: #2F4F4F;
}

.root{
  color: #2F4F4F;
}

// ユーザ編集ボタン
.user-edit:hover{
  color: #2F4F4F;
  background: #CCCCCC;	
}

.back:hover{
  color: #2F4F4F;
  background: #CCCCCC;	
}

.root:hover{
  color: #2F4F4F;
  background: #CCCCCC;	
}


@media screen and (max-width: 1024px) and (orientation: portrait){
  
}
@media screen and (max-width: 1024px){
 
}
@media screen and (max-width: 896px) and (orientation: landscape){
  
}
@media screen and (max-width: 896px){
  .parent {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 480px){
  body{
    font-size: 10px;
  }
}

.btn {
  display: inline-block;
  position: relative;
  box-sizing: border-box;
  text-decoration: none;
  color: #FFF;
  width: 50px;
  height: 50px;
  line-height: 30px;
  padding: 5px;
  
  border-radius: 50%;
  text-align: center;
  font-weight: bold;
  box-shadow: inset 0 2px 0px rgba(255, 255, 255, 0.25), inset 0 -2px 0px rgba(0, 0, 0, 0.18);
  transition: .2s;
}

.btn:hover{
  box-shadow: none;
}

.btn-like{
  background: #ef4d4d;
  border: solid 5px #ef4d4d;
}

.btn-edit{
  background: #7ece46;
  border: solid 5px #7ece46;
}

.btn-delete{
  background: #1da1f3;
  border: solid 5px #1da1f3;
}

.main{
  width: 500px;
}

.sub{
  display: inline-block;
  font-size: 12px;
}

.nav-item:hover{
  opacity: 0.7;
}

.navbar-brand:hover{
  opacity: 0.7;
}

.comment{
  width: 100%;
  line-height: 1.5;
}

.body-comment{
  font-size: 16px;
  font-weight: 600;
}

.actions{
  position: relative;
  display: inline-block;
  font-weight: bold;
  padding: 0.25em 0.5em;
  text-decoration: none;
  color: #00BCD4;
  background: #ECECEC;
  transition: .4s;
  width: 100%;
}

.actions :hover{
  background: #00bcd4;
  color: white;
}